<%- include('header'); -%>

<h2>About page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore aspernatur quod qui tempora incidunt fugit. Quia, expedita quas. Molestiae officia adipisci minus facilis mollitia pariatur aliquid similique, excepturi voluptates! Obcaecati!</p>

<%- include('footer'); -%>